@font-face {
    font-family: IBMPlexArabic;
    src: url('./../font/IBMPlexArabic-Text.ttf');
}
:root{
    --mainColor: #5446F5;
    --gray: #534847;
    --lighGray:#F5F5F5;
    --DarkBlue:rgba(1, 11, 56, 0.8);
}

body{
    font-family: 'IBMPlexArabic',sans-serif !important;
}
.mainColor{
    color: var(--mainColor);
}
.grayColor{
    color: var(--gray);
}
.DarkBlue{
    color: var(--DarkBlue);
}
.bg-lighGray{
    background-color: var(--lighGray);
}
.font-weight-bold{
    font-weight: 700 !important;
}
.header_img{
    width: 350px;
}
@media (max-width:400) {
    .header_img{
        width: 300px;
    } 
}
.overly_nav{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
}
.f-14{
    font-size: 14px;
}
.logo_icon{
    width: 50px;
    height: 50px;
}

.p-r{
    padding-right: 10px !important;
}

.work_img{
    width: 250px;
    height: 250px;
    box-shadow: -13px 13px 0px 0px #E5E5E5;
}
.metting_img{
    width: 200px;
    height: 300px;
}

.over{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: url('./../img/metting.png');
    transition: .5s;
}
.over:hover{
    background-image: url('./../img/bg.png');
}
.ellipes{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 80px;
    height: 80px;
    background-image: url('./../img/Ellipse.png');
    transition: .5s;
}
.over:hover .ellipes{
    background-image: url('./../img/Ellipse 3.png');
}
.line{
    width: 100%;
    height: 3px;
    background-color: var(--mainColor);
}
.line_2{
    width: 100%;
    height: 3px;
    background-color: var(--lighGray);
}

.num{
    position: absolute;
    bottom: 0px;
    right: 9px;
    font-size: 45px;
    font-weight: 700;
}

.footer_logo{
    width: 150x;
    height: 150px;
}

.btn-primary{
    background-color: var(--mainColor) !important;
}
.btn-light{
    background-color: #fff;
    border: 1px solid var(--lighGray);
}
.arr_icon{
    width: 10px;
    margin: 0 5px;
}

.Ellipse5{
    position: absolute;
    bottom: 0px;
    right: -20px;
    width: 150px;
    z-index: -2;
}
.overly_img{
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
}